body {
  max-width: 380px;
  margin: auto;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/header_fruits_fond.png);
  background-size: cover;
  padding: 27px 30px;
}

.box-title {
  background-color: #ffffffe8;
  color: #57bb6b;
  font-family: 'Quattrocento', serif;
  font-size: 18px;
  text-align: center;
  padding: 15px 60px 10px;
}

.emojuice-title {
  margin-bottom: 0;
}

