body {
  max-width: 380px;
  margin: auto;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/header_fruits_fond.png);
  background-size: cover;
  padding: 27px 30px;
}

.box-title {
  background-color: #ffffffe8;
  color: #57bb6b;
  font-family: 'Quattrocento', serif;
  font-size: 19px;
  text-align: center;
  padding: 15px 60px 10px;
}

.emojuice-title {
  margin-bottom: 0;
}

.cta-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cta {
  border-radius: 13px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.cta-dark {
  background-color: #57bb6b;
  color: #ffffff;
  margin: 30px 0 17px;
  padding: 10px 15px;
}

.cta-light {
  background-color: #ffffff;
  color: #57bb6b;
  margin-bottom: 15px;
  padding: 9px 14px;
}

p {
  font-family: 'Quattrocento', serif;
}

.main-intro img {
  max-width: 35px;
}

.main-intro p {
  padding: 0 20px;
  font-size: 15px;
}

.main-intro {
  text-align: center;
  padding: 55px 50px;
}

.fruit-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 26px;
  text-align: center;
}

h3 {
  color: #000000;
  font-family: 'Sriracha', sans-serif;
  font-size: 30px;
}

.product-file {
  background-color: #57bb6b;
  color: #ffffff;
  padding-top: 15px;
}

.fruit-box {
  margin: 45px 35px;
}

.fruit-box img {
  max-width: 100px;
}

.product-file p {
  color: #00000085;
}

.product-file a {
  color: #000000;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 600;
}

.banana-box {
  background-color: #fff8d7;
}

.kiwi-box {
  background-color: #c4f2ad;
}

.coffee-box {
  background-color: #d3c6b2;
}

.strawberry-box {
  background-color: #f7a4b4;
}